.container1 {
    text-align: center;
    background-color: #fff !important;
    width: 100%;
    margin-top: 100px;
    height: 600px;
    margin-left: 28%;
    margin-top: 2%;
    max-width: 750px;
    border-radius: 15px;
    padding: 25px 100px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .content {
    position: relative;
    margin-top: -80px;
  }
  
  .generate-button{
    position: relative;
    width: 350px;
    height: 48px;
    margin-top: -770px;
    color: #fff;
    background-color: rgba(0, 100, 255, 0.695);
    border-radius: 5px;
  }
  
  .checkboxes {
    text-transform: capitalize;
    cursor: pointer;
  }
  
  .form-label{
    font-size: 18px;
  }
  
  .checkboxes .checkbox-input {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .checkbox-wrapper {
    display: flex;
    gap: 180px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 15px;
  }
  
  .slider {
    margin-bottom: -90px;
  }
  
  .passwordLength {
    position: relative;
    right: 15px;
  }
  
  .slider-input{
    width: 160px;
  }

  button{
    width: 400px;
    height: 50px;
    margin-top: 40px;
    position:fixed;
    font-size: 25px !important;
  }